langchain
langchain-core
langchain-openai
langchain-google-genai
langchain-community
langgraph
google-generativeai
python-dotenv
ipykernel
langgraph-cli
langgraph-cli[inmem]
transformers
torch
sentence-transformers
faiss-cpu
